<div class="hero min-h-screen bg-white dark:bg-indigoBackground text-black">
  <div class="hero-content flex-col lg:flex-row-reverse text-white dark:text-indigo-dark-text">
    <div class="tooltip tooltip-open tooltip-top slide-in-3 opacity-0" data-tip="It's me!" >
      <img
        src="../../../assets/img/photo-de-profil.jpg"
        class="max-w-sm rounded-lg shadow-2xl ml-28 border-4 border-indigo-3" />
    </div>
    <div>
      <p class="text-xl text-black dark:text-indigo-dark-text slide-in opacity-0">Hey there! I'm - </p>
      <h1 class="text-5xl text-black dark:text-white font-bold slide-in-2 opacity-0">Anthony Le cardonnel</h1>
      <p class="py-9 text-3xl text-black dark:text-indigo-dark-text slide-in-3 opacity-0">
        <span class="text-black dark:text-white">Product Developer</span>, I create things on the internet.
      </p>
      <div class="slide-in-4 opacity-0">
        <button class="btn btn-primary mr-2 bg-indigo-3 slide-in-4">
          <a href="https://github.com/AnthoLC77?tab=repositories">
            <i class="fab fa-github mr-1"></i>
            GitHub
          </a>
        </button>
        <button class="btn btn-primary mr-2 bg-indigo-3 opacity-0 slide-in-5">
          <a href="https://www.linkedin.com/in/anthony-le-cardonnel-6959a1296">
            <i class="fab fa-linkedin mr-1"></i>
            Linkedin</a>
        </button>
        <button class="btn btn-primary bg-indigo-3 opacity-0 slide-in-6">
          <a href="mailto:gad_77&#64;hotmail.fr">
            <i class="fas fa-envelope mr-1"></i>
            gad_77&#64;hotmail.fr
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
