h1 {
  color: #B54548;
}

.navbar {
  background: transparent;
}

.navbar-center {
  position: relative;
  background: #182449;
  border-radius: 8px;
  height: 35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid rgba(100, 100, 100, 0.2);
}

.navbar-center a {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.navbar-center a:focus, .navbar-center a:active {
  color: #fff;
}

.custom-navbar-center {
  position: absolute;
  top: 0;
  left: 0px;
  width: 80px;
  height: 100%;
  background-color: #4a00ff;
  border-radius: 8px;
}

.side-menu {
  border: solid 1px theme('colors.indigo-3');
}


.side-menu ul {
  position: relative;
}

.side-menu a {
  position: relative;
  opacity: 1;
  z-index: 1;

}

.custom-navbar-mobile {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #4a00ff;
  width: 85px;
  height: 20px;
}


@media (max-width: 600px) {
  .navbar-center ul {
    flex-direction: column; /* Empile les liens verticalement en mobile */
    gap: 10px; /* Ajoute un espacement entre les liens */
  }


}

@media (min-width: 601px) {
  .navbar-center ul {
    flex-direction: row; /* Affiche les liens horizontalement pour les écrans plus larges */
    justify-content: center;
  }
}


