.card-body {
  background: #182449;
  color: #FFF;
}

.card {
  height: 420px;
}

.badge-secondary {
  background: red;
}

.bg-green-600 {
  background: green;
  color: #FFF;
  border: green;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-indicator {
  text-align: center;
  font-size: 1rem;
  color: #888;
  margin-top: 5px;
  animation: bounce 1s infinite;
  margin-bottom: 10px;
}

.stop-animation {
  animation: none;
}

@keyframes bounce {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(10px);
        color: #FFF; }
}

.delay-0 {
  animation-delay: 0s;
}
.delay-1{
   animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}

@media (max-width : 600px) {

  .swiper-slide {
    width: 100% !important; 
    margin-right: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    flex-direction: column-reverse;
    align-items: center;
  }

  .card-body {
    text-align: center;
    padding: 20px;
  }

  description-project {
    text-align: none;
  }

  .card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .swiper-indicator {
    font-size: 12px;
    margin-right: 10px;
  }
}

