/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body.dark-theme{
  background-color: #11131F;
}

body.light-theme{
  background-color: #ffffff;
  color: #000000;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}


.slide-in {
  animation: slide-in 0.2s ease forwards;
  animation-delay: 0s;
}

.slide-in-2 {
  animation: slide-in 0.3s ease forwards;
  animation-delay: 0.2s;
}

.slide-in-3 {
  animation: slide-in 0.2s ease forwards;
  animation-delay: 0.4s;
}

.slide-in-4 {
  animation: slide-in 0.2s ease forwards;
  animation-delay: 0.6s;
}

.slide-in-5 {
  animation: slide-in 0.2s ease forwards;
  animation-delay: 0.8s;
}

.slide-in-6 {
  animation: slide-in 0.2s ease forwards;
  animation-delay: 1s;
}

.animate {
  animation: slide-in 0.2s ease forwards;
}





.slide-in-skill {
  animation-delay: 0.2s;
}

.slide-in-skill-2 {
  animation-delay: 0.4s;
}

.slide-in-skill-3 {
  animation-delay: 0.6s;
}

.slide-in-skill-4 {
  animation-delay: 0.8s;
}

.slide-in-skill-5 {
  animation-delay: 0.8s;
}


