<div class="main-container flex flex-col items-center">

  <app-my-introduction class="w-10/12"></app-my-introduction>

  <div id="skills" class="flex flex-col justify-center items-center mb-28 w-10/12">
    <h2 appSlideInAnimate class="text-black dark:text-white mb-8 text-3xl font-bold slide-in-skill opacity-0"><span class="dark:text-indigo-dark-text text-3xl">S</span>kills</h2>
    <app-skill class="w-full flex justify-around"></app-skill>
  </div>

  <div id="project" class="flex flex-col justify-center items-center w-10/12 mb-10">
    <h2 appSlideInAnimate  class="text-black dark:text-white mb-8 text-3xl font-bold slide-in-skill opacity-0 "><span class="dark:text-indigo-dark-text text-3xl">P</span>roject</h2>
    <app-card-project class="max-w-full"></app-card-project>
  </div>

  <div id="cursus" class="flex flex-col justify-center items-center w-10/12">
    <h2 appSlideInAnimate class="text-black dark:text-white mb-8 text-3xl font-bold slide-in-skill opacity-0"><span class="dark:text-indigo-dark-text text-3xl ">C</span>ursus</h2>
    <app-timeline></app-timeline>
  </div>
</div>


